URxvt.font: xft:monospace:size=16
URxvt.scrollBar: false
URxvt.iconFile: ~/Pictures/terminal_icon.svg

URxvt.transparent: true
URxvt.tintColor: white
URxvt.shading: 7

! special
*.foreground:   #a5a2a2
*.background:   #090300
*.cursorColor:  #a5a2a2

! black
*.color0:       #000000
*.color8:       #000000

! red
*.color1:       #ac0d00
*.color9:       #ac0d00

! green
*.color2:       #00ac0d
*.color10:      #00ac0d

! yellow
*.color3:       #fded02
*.color11:      #fded02

! blue
*.color4:       #01ac9d
*.color12:      #01ac9d

! magenta
*.color5:       #9e00ac
*.color13:      #9e00ac

! cyan
*.color6:       #b5e4f4
*.color14:      #b5e4f4

! white
*.color7:       #a5a2a2
*.color15:      #f7f7f7

! Refresh with 'xrdb ~./Xresources'
